@media (min-width: 768px) and (max-width: 1024px) {
   .apaga{
        display: none;
    }
    .apa{
        display: block;
    }
     .filho01{
        margin: 0 5%;
        display: flex;
    }
}
@media (min-width: 1200px) {
    .ta{
        width: 60%;
    }
    .BuTop{
        padding-top: 10px;
        padding-bottom: 10px;
      }
    .espaco1{
        flex: 50%;
    }
    .direita{
        margin-left: 50%;
    }
    .espaco{
        flex: 20%;
        flex-wrap: wrap;
    }
    .espaco01{
        padding-top: 60px;
    }
    .tamanho1{
        height: 500px;
        width: 100%
    }
    .espa{
        /*margin-left: 50px;
        border: 1px solid #893be1;
        background: #893be1;
        border-radius: 0 10px;*/
        margin: auto auto;
    }
    .borda{
        width: 1000px;
        height: 700px;
    }
    .ta1{
        width: 100%;
        right: 200px;
    }
    .testez{
        margin-bottom: 10px;
        padding: 0;
        height: 600px;
    }
    .apaga{
        display: none;
    }
    .apa{
        display: block;
    }
    .card01{
        margin: 0 5%;
        display: flex;
    }
    .filho01{
        margin-left: 1%;
    }
    .direita{
        display: flex;
        margin: 0;
    }
    .tamanho1{
        height: 350px;
        width: 500px;
    }
    .BuTop{
        padding-top: 100px;
    }
    .paco{
        flex: 30%;
    }
    .paco1{
        flex: 20%;
        padding-top: 20px;
    }
    .te{
        height: 300px;
    }
    .mar01{
        margin-left: 20px;
    }
    .no{
        display: flex;
        flex-wrap: wrap;
        margin: 0 5%;
    }
    .un01{
        flex: 20%;
        margin: 0 5px;
        padding-top: 50px;
        padding-left: 20px;
    }
    .un02{
        flex: 20%;
        margin: 0;
    }
}

